.userdiv{
    display: grid;
    grid-template-areas: "avatar txt";
    --w : 5rem;
    grid-template-columns: max-content  auto;
    position: relative;
    height: var(--w);
   
}
.avatarcont{
    margin-right: 0.5rem;
    grid-area: avatar;
    width: var(--w);
    height: var(--w);
    /* aspect-ratio: 1; */
    padding: 0.2rem;
    border-radius: 50%;
    overflow: hidden;
}

.avatarcont img {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.info{
    grid-area: txt;
    padding-top: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.userdiv p{
    text-align: left;
    margin: 0.2em;
}
.email{
    font-size:small;
}
