nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.938rem;
}

.left {
    display: flex;
    align-items: center;
    width: 20%;
}
.right{
    width: 20%;
    display: flex;
    align-items: center;
}

