.userdiv{
    display: grid;
    grid-template-areas: "avatar txt";
    grid-template-columns: max-content auto;
    position: relative;
}
.avatarcont{
    margin-right: 0.5rem;
    grid-area: avatar;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.avatarcont img {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.info{
    grid-area: txt;
    padding-top: 0.2rem;
}

.userdiv p{
    text-align: left;
    margin: 0;
}


.email{
    font-size:small;
}
