#Search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 25px;
    flex-grow: 1;
    overflow: hidden;
    background: #e3e3e3;
    margin-left: 1rem;
}

#Search-box:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#sb-magnifying-glass{
    margin: auto 0.5rem;
    height: 50%;
}
#sb-magnifying-glass svg{
    padding-left: 0.313rem;
    height: 100%;
    color: gray;
}
#sb-magnifying-glass path{
    fill: currentColor;
}

#sb-input-container{
  flex-grow: 1;
  height: 100%;
  margin-right: 0.5rem;
}

#search-input-field
{
    /* background-color: tomato; */
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    
    font-size: medium;
    background-color: transparent;
    
}