.auth-body{
    --margintop: 5vh;
    display: grid;
    background-color:   white;
    place-items: center;
    transition: 0.1s;
}

.form-container{
    margin-top: var(--margintop);
    background-color: white;
    /* width: 70vw; */
    max-width: 100%;
    width: 50vw;
    min-height: 300px;
    padding: 3rem;
    padding-bottom: 1.5rem;
    border-radius: 4px;
    animation-name: vi;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    transition: box-shadow 0.5s;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.form-container:hover{
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0);
}
@keyframes vi {
    from{
        opacity: 0;
        margin-top: calc(var(--margintop) + 5vh);
    }
    to{
        /* visibility: initial; */
        opacity: 1;
        display: block;
        margin-top: var(--margintop);
    }
    
}
.form-container form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form-container input,.form-container button{
    outline: none;
    background-color: lightgray;
    border: 0;
    height: 40px;
    border-radius: 0.5rem;
    text-align: left;
    padding: 10px
}
/* .form-container input:invalid{
    outline: 2px solid gray;
} */
.form-container input:valid{
    outline:2px solid green ;
}
.form-container button{
    text-align: center;
    background-color: red;
    color: white;
    cursor: pointer;
    /* transition: ; */
}

.form-container button:disabled{
    background-color: gray;
    color: white;
}
.form-container p,.form-container span{
    display: block;
    text-align: center;
    font-size: small;
}
.form-container span{
    color: tomato;
}
.form-container a{
    text-decoration: none;
    color: lightgreen;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 340px) {
    .form-container{
        padding: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .form-container{
        padding: 2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}