.tooltip{
    
    position: fixed;
    display: block;

    background: #e5e5e5;
    color: #333;
    
    padding: 1rem;
    border-radius: 1em;
    
    transition: 0.5s;
}

.visible{
    visibility: visible;
    opacity: 1;
    
}

.invisible{
    visibility: collapse;
    opacity: 0;
}